/cuistovoice_env
/cuistovoice-env
/websockets
/__pycache__
utils/__pycache__
/tests
/yank
/cache

cuistovoice_interface.tft

database.json
tmp_commands.txt
realtimesst.log
*.mp3
*.wav
*.pyc
config.ini
deezer-downloader.ini
.cache
.env
.env.local

data/shopping_list.json
data/database.json
data/main_config.json
messages_history.json
key_generator.py

device_private.key
device_public.key